<!DOCTYPE html>
<head>
	<title>Map App</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js" type="text/javascript"></script>


    <script src="js/wsclient.js"></script>

	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/loginController.js" type="text/javascript"></script>

</head>

<body ng-app='MapApp' >

<div class="text-center">
<div class="page-header">
  <h1>Map App</h1>
</div>
</div>

<div class="row" style="background: url(resources/BackgroundEarth.jpg)">
<div id="bg">
	<div class="container" style="width: 300px">
    	<div class="container" id="formContainer" style="width: 300px" ng-controller='loginController'>

          <form class="form-signin" id="login" role="form">
            <h3 class="form-signin-heading">Please sign in</h3>
            
            <input type="username" class="form-control" name="loginEmail" id="loginEmail" placeholder="Username" ng-model='username' required autofocus>
            <br>
            <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password" ng-model='password' required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginfunction()">Sign in</button>
          </form>
          <br>
          <button class="btn btn-primary" type="btn" ng-click="signup()">Sign up</button>
          <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    
        </div> <!-- /container -->
	</div>
</div>
<br>
<!--
	<div id='content1'ng-controller='loginController1'>
		
		<button class='btn btn-default' ng-click="func()">Add Alert</button>
		
			{{understand}}

	</div>
	<div id='content2' ng-controller='loginController2'>
			{{understand}}
	</div>
-->

</body>
</html>